.navbar {
  height: 68px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 45px;
  z-index: 1;
  position: relative;
  & img {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
  }
  &_link {
    display: flex;
    align-items: flex-start;
    gap: 57px;
    & a {
      text-decoration: none;
      color: var(--font-color);
      text-align: right;
      font-size: 24px;
      font-weight: 500;
      line-height: 142.6%;
    }
    a.active-link {
      text-decoration-line: underline;
    }
  }
}