* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
:root {
  --main-bg-color: #fff;
  --collapse-btn-bg-color: #ff6060;
  --collapse-bg-color: #f6f6f6;
  --footer-bg-color: #000000;
  --font-color: #ff6060;
  --font-title-color: #ffffff;
}

@mixin small-screen {
  @media screen and (min-width: 800px) {
    @content;
  }
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  padding-bottom: 0;
  margin: 0;
  & main,
  header {
    display: flex;
    padding: 0 100px;
    flex-direction: column;
    align-items: center;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}