* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
body {
  margin: 0;
  padding-top: 45px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  main {
    display: flex;
    width: 1240px;
    padding: 50px 0 50px 0;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    & div {
      gap: 43px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: flex-start;
    }
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
